<header>
    <div class="marca">
        <div class="isotipo">
            <img src="/img/logo.png">
        </div>
        <div class="logotipo">Rubén D. Rodríguez Q.</div>
    </div>
</header>
<section>
    <div class="foto">
        <img src="/img/foto.png">
    </div>
    <div class="presentacion">
        <h1>Hola!</h1>
        <h2>
            Soy Rubén <br>
            Ingeniero de Sistemas y<br>
            Desarrollador Web <br>
        </h2>
        <p>
            Tengo experiencia en el desarrollo web manejando tecnologías Java como Servlet y JSP y en Javascript tecnologías como NodeJs y Express. Actualmente estoy ampliando mis conocimientos en el desarrollo Full Stack de Javascript.
        </p>
        <p>
            Me gusta crear interfaces visuales atractivas e intuitivas, siguiendo el enfoque del DCU. Me interesan temas relacionados con DevOps como los procesos del ciclo continuo (Integración, Entrega y Despliegue continuo). Tengo experiencia en el manejo de nube de Microsoft Azure.
        </p>
        <p>
            Como proyecto de grado desarrolle con un equipo interdisciplinar un Videojuego en 3D, obteniendo experiencia en el proceso de desarrollo y en el manejo de herramientas como Unity, blender y en el lenguaje de programación C#.
        </p>
        <p>En lo personal juego baloncesto y me gusta ver peliculas y series de Ciencia ficción o Fantasía.</p>
        <p>
            Si tiene un proyecto, o simplemente quiere saludar, escríbame a <a
                href="mailto:proyecto.rubendariorq@gmail.com">proyecto.rubendariorq@gmail.com</a>
        </p>
        <p>
            También puedes saber más sobre mí y mi trabajo aquí:
        </p>
        <ul>
            <li>
                <span class="icon-github"></span><a href="https://github.com/rubendariorq">GitHub</a>
            </li>
            <li>
                <span class="icon-linkedin"></span><a
                    href="https://www.linkedin.com/in/ruben-dario-rodriguez-quintero-89b825195/">LinkedIn</a>
            </li>
            <li>
                <span class="icon-twitter"></span><a href="https://twitter.com/rubendariorq">Twitter</a>
            </li>
            <li>
                <span class="icon-instagram"></span><a href="https://www.instagram.com/rubendariorq">Instagram</a>
            </li>
        </ul>
    </div>
</section>