<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Rubén D. Rodríguez Q. | Ingeniero de Sistemas | Desarrollador Web</title>
    <link rel="shortcut icon" type="image/png" href="/img/isotipo.png" />
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    {{{ body }}}
</body>

</html>